apiVersion: apps/v1
kind: Deployment
metadata:
  name: fullstack-deployment
spec:
  selector:
    matchLabels:
      app: fullstack
  replicas: 3
  template:
    metadata:
      labels:
        app: fullstack
    spec:
      securityContext:
        runAsNonRoot: true
        runAsUser: 1000

      containers:
      - name: fullstack
        image: replace
        imagePullPolicy: Always
        ports:
        - containerPort: 8080

        securityContext:
          allowPrivilegeEscalation: false
          readOnlyRootFilesystem: true
          capabilities:
            drop:
            - ALL

        resources:
          requests:
            memory: "256Mi"
            cpu: "500m"
          limits:
            memory: "512Mi"
            cpu: "1"
---
apiVersion: v1
kind: Service
metadata:
  name: fullstack-service
spec:
  selector:
    app: fullstack
  ports:
  - protocol: TCP
    port: 80
    targetPort: 8080
  type: LoadBalancer
